name: Workflow 2

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: "18"
      
    steps:
      - name: test step
        run: |
          echo "This is a test step $NODE_VERSION"
          echo "Secret: ${{secrets.REPO_SECRET}}"
